.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 40px;
    width: 70%;
    margin-left: 10px;
}
h2 {
    font-family: 'Slabo 27px', serif;
    margin: 2px;
}

p {
    font-size: 20px;
    font-family: 'Song Myung', serif;
    color: rgb(26, 101, 187);
    text-align: end;
    padding: 0;
    position: relative;
    top: 100px;
    left: 50px;
    margin: 0;
        }

.box {
  color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 50px;
  box-shadow: 6px 6px 6px #999;
  
}


#line {
    background-color: rgb(54, 62, 136);
    width: 146px;
    height: 6px;
    margin-bottom: 20px;
    margin-top: 5px;
}


#ada {
    background-image: url(img/ada.jpg);
} 
#maryW {
    background-image: url(img/MaryAllenWilkes.jpeg);
}
#katie {
    background-image: url(img/katiebouman.jpg);
}
#maryJ {
    background-image: url(img/maryjackson.jpg); }
#grace {
        background-image: url(img/gracehooper.jpg); }
 #maryW {   
    background-image: url(img/MaryAllenWilkes.jpeg);
        }
#margaret {
            background-image: url(img/MargaretHamilton.jpg);
                }
