body {
   background-color:  #f5eae5;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 40px;
    width: 70%;
    margin-left: 10px;
    

}
h2 {
    font-family: 'Dancing Script', cursive;
    margin: 2px;
    font-size: 40px;
}

p {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: end;
    padding: 0;
    position: relative;
    top: 90px;
    left: 40px;
    margin: 0;
    color: #ffffff;
        }

.box {
  color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 50px;
  box-shadow: 6px 6px 6px #999;
  
}

#line {
    background-color: #8995c4;
    width: 208px;
    height: 6px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.window {
    position: fixed;
    right: 0;
    margin: 1rem;
    padding: 1rem;
    top: 150px;
    border: rgb(240, 240, 240) 1px solid;
    width: 300px;
    height: 270px;
    background-color: #8995c4;
}
   
h3{
    margin-top: 10px;
    color: rgb(230, 234, 247);
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

#ada {
    background-image: url(img/ada.jpg);
    color: #faf5e4;
} 

#maryW {
    background-image: url(img/MaryAllenWilkes.jpeg);
    color: #faf5e4;
}

#katie {
    background-image: url(img/katiebouman.jpg);
    color: #faf5e4;   
}

#maryJ {
    background-image: url(img/maryjackson.jpg); 
    color: #faf5e4;
}

#grace {
        background-image: url(img/gracehooper.jpg);
        color: #fdede5;
        
     }
 #maryW {   
    background-image: url(img/MaryAllenWilkes.jpeg);
        }
#margaret {
            background-image: url(img/MargaretHamilton.jpg);
            color: #faf5e4;
                }
.user {
    padding-left: 50px;
    padding-top: 10px;
    margin-top: 20px;
    width: 70px;

}

/*font-family: 'Dancing Script', cursive;
font-family: 'Amatic SC', cursive;*/