  .header {
      display: grid;
      grid-auto-flow: column;
  }

  .searchBox{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative; 
    display: flex;
    
  }

  .icon {
      
  }