  .header {
      display: grid;
      grid-template-columns: 10% 1fr 20%;

     }

  .searchBox{
    width: 100%;
    height: 40px;
    vertical-align: middle;
    white-space: nowrap;
    margin: 5px;
    display: flex;
    background-color: rgb(231, 231, 231);
    border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border: 2px solid #e7e9ec;

    
    
  }
 input {
     width: 85%;
     border-style: none;
     outline: none;
     background-color: rgb(231, 231, 231);
     border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    margin: 3px;

 }

 .icons {
     display: flex;
     justify-content: space-evenly;
     padding-left: 6px;
     padding-top: 5px;
    
 }
p {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}
 svg {
    margin-right: 9px;
    margin-top: 7px;
    margin-left: 12px;
 }

 #pint {
     padding-left: 40px;
     width: 50px;
 }

 .line {
     border: rgb(189, 183, 183) 0.5px solid;
     width: 100%;
     margin-top: 10px;
 }

 .topics {
 
    margin: 15px;
    width: 100%;
    display: inline-block;
    text-align: center!important;
    display: inline-block;
 }

 

 .text {
     place-self: center;
     border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;
    padding: 20px 25px;
    font-weight: 700;display: inline-block;
    margin: 0 5px;
    border-radius: 6px;
    color: white;
    
 }

 #photo {
    background-color: #CC6697;
 }

 #recetas {
    background-color: #D58197;
 }
 #nails {
     background-color: #C653A3;
 }
 #clothes {
    background-color: #AC399D
}
#shoes {
    background-color: #D58197;
}

#tips {
    background-color: #CC6697;
}

#yoga {
    background-color: #AC399D;
}
#health {
    background-color: #D58197;
}
#tattoos {
    background-color: #CC6697;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;

}

.post{
    width: 100%;
    border-radius: 20px;

}